.my-button {
    min-width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    font-size: 18px;
    transition: background-color 200ms ease-in-out;
}

.my-button--primary {
    border: none;
    color: white;
    background-color: #06b106;
}

.my-button--bordered {
    border: 1px solid #06b106;
    color: #06b106;
    background-color: none;
}

.my-button--primary:hover {
    background-color: #048b04;
}

.my-button--bordered:hover {
    background-color: #048b04;
    color: white;
}

.my-button--sm {
    min-width: 100px;
    height: 30px;
    font-size: 14px;
}

.my-button--md {
    min-width: 150px;
    height: 40px;
    font-size: 18px;
}

.my-button--lg {
    min-width: 200px;
    height: 50px;
    font-size: 20px;
}