* {
  font-family: "Inter", sans-serif;
}

.my-typography {
  text-indent: 20px;
}

.my-typography--sm {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.my-typography--md {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.my-typography--lg {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
