* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#primary_buttons,
#bordered_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

#inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 30px 20px 30px 20px;
}

#typographies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  margin: 30px 20px 30px 20px;
}

#headers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 20px 30px 20px;
}

#tooltips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px 30px 20px;
}

#accordions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px 0px 20px;
}
