* {
  font-family: 'Inter', sans-serif;
}

.my-accordion {
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
  }
  

.my-accordion--open {
  border-color: #007bff;
}

.my-accordion__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.my-accordion__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.my-accordion__icon {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.my-accordion__content {
  padding: 16px;
  font-size: 16px;
}
